@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
/*font-family: 'Red Hat Display', sans-serif;*/
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }
  body {
    min-height: 100vh;
    background: hsl(225, 100%, 98%);
    display: flex;
    place-content: center;
    justify-content: center;
    align-items: center;
    font-family: 'Red Hat Display', sans-serif;
    flex-direction: column;
  }
  .card-wrapper {
    width: 320px;
    margin-inline: 1.5rem;
    height:520px;
    background-color: white;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 10px 45px -20px gray;
    z-index: 2;
  }
  .main {
    display: flex;
    flex-direction: column;
    place-content: center;
    align-items: center;
    padding: 1.5rem;
    gap:1.2rem
  }
  .info {
    text-align: center;
    color:hsl(224, 23%, 55%);
    font-size: 16px
  }
  h2 {
    color: hsl(223, 47%, 23%);
  }
  .price,.pay {
    display: flex;
    align-items: center;
  }
  .current {
    color: hsl(224, 23%, 55%);
  }
  .type {
    color: hsl(223, 47%, 23%);
    font-weight: 700;
  }
  .pay {
    gap:1rem;
    width:12rem;
  }
  .price {
    width: 100%;
    justify-content: space-between;
    background-color: hsl(225, 100%, 98%);
    padding: 0.7rem;
    border-radius: .8rem;
  }
  .price a {
    color: hsl(245, 75%, 52%);
    font-size: 14px;
    font-weight: 700;
  }
  .finalize {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap:0.8rem
  }
  button {
    width: 100%;
    padding: 0.8rem;
    border-radius: .5rem;
    border: 0;
    background: hsl(245, 75%, 52%);
    color: white;
    font-weight: 700;
    box-shadow: 0 10px 35px 1px gray;
    cursor: pointer;
  }
  .finalize a {
    text-decoration: none;
    color: hsl(224, 23%, 55%);
    font-weight: 700;
  }
  button:active {
    opacity: 70%;
    box-shadow: 0 10px 35px 1px gray;
  }
  .finalize a:active{
    color: hsl(223, 47%, 23%);
  }
  .price a:active {
    text-decoration: none;
    opacity: 70%;
  }